

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Componente LOGIN</mat-card-title>
    </mat-card-header>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label>Email</label>
            <input type="email" formControlName="email">
        </div>
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
            <p 
                *ngIf="loginForm.get('email')?.hasError('required')"
                [ngClass]="{error:loginForm.get('email')?.hasError('required') && loginForm.get('email')?.dirty}">
                El Campo es obligatorio
            </p>
            <p 
                *ngIf="loginForm.get('email')?.hasError('email')"
                [ngClass]="{error:loginForm.get('email')?.hasError('email') && loginForm.get('email')?.dirty}">
                Ingrese un email valido
            </p>
        </div>

       <div>
            <label>Contraseña</label>
            <input type="password" formControlName="password">
        </div>
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.dirty">
            <p 
                *ngIf="loginForm.get('password')?.hasError('required')"
                [ngClass]="{error:loginForm.get('password')?.hasError('required') && loginForm.get('password')?.dirty}">
                El Campo es obligatorio
            </p>
            <p 
                *ngIf="loginForm.get('password')?.hasError('minlength')"
                [ngClass]="{error:loginForm.get('password')?.hasError('minlength') 
                    && loginForm.get('password')?.dirty
                    && loginForm.get('password')?.hasError('minlength')}">
                Debe escribir al menos 6 caracteres
            </p>
            <p 
                *ngIf="loginForm.get('password')?.hasError('maxlength')"
                [ngClass]="{error:loginForm.get('password')?.hasError('maxlength') 
                    && loginForm.get('password')?.dirty}">
                Debe escribir como máximo 10 caracteres
            </p>
        </div>

        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary">Ingresar</button>
        

    </form>
</mat-card>

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

