mat-spinner{
  margin: auto;
  margin-top: 20%; 
}
mat-card{
  width: 90%;
  margin: auto;
}

mat-card-header{
  justify-content: center;
}

mat-card-header h2{
  font-size: 30px;
  text-transform: uppercase;
}

.mat-card-image:first-child{
  margin-top: 5px;
}

.example-card {
    max-width: 400px;
    margin: 0;
}

mat-card-actions {
  width: 100%;
  padding: 10px;
}

button {
 width: 100%;
}
  
.imgContainer{
  width: 200px;
  height: 200px;
  display: flex;
  margin: auto;
}
img{
  width: 150px;
  height: 150px;
  margin: auto;
}

.precio,
.cantidad,
.descripcionTitle{
    padding-left: 10px;
    font-weight: bolder;
  }

