<h3>Componente REGISTRO</h3>

<form [formGroup]="registroForm" (ngSubmit)="registrarse()">
    <div>
        <label>Nombre</label>
        <input type="text" formControlName="nombre">
    </div>
    <div *ngIf="registroForm.get('nombre')?.errors && registroForm.get('nombre')?.dirty">
        <p 
            *ngIf="registroForm.get('nombre')?.hasError('required')"
            [ngClass]="{error:registroForm.get('nombre')?.hasError('required') && registroForm.get('nombre')?.dirty}">
            El Campo es obligatorio
        </p>
        <p 
            *ngIf="registroForm.get('nombre')?.hasError('minlength')"
            [ngClass]="{error:registroForm.get('nombre')?.hasError('minlength') && registroForm.get('nombre')?.dirty}">
            Debe escribir al menos 2 caracteres
        </p>
    </div>

    <div>
        <label>Apellido</label>
        <input type="text" formControlName="apellido">
    </div>
    <div *ngIf="registroForm.get('apellido')?.errors && registroForm.get('apellido')?.dirty">
        <p 
            *ngIf="registroForm.get('apellido')?.hasError('required')"
            [ngClass]="{error:registroForm.get('apellido')?.hasError('required') && registroForm.get('apellido')?.dirty}">
            El Campo es obligatorio
        </p>
        <p 
            *ngIf="registroForm.get('apellido')?.hasError('minlength')"
            [ngClass]="{error:registroForm.get('apellido')?.hasError('minlength') && registroForm.get('apellido')?.dirty}">
            Debe escribir al menos 2 caracteres
        </p>
    </div>

    <div>
        <label>Teléfono</label>
        <input type="text" formControlName="telefono">
    </div>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="registroForm.get('email')?.errors && registroForm.get('email')?.dirty">
        <p 
            *ngIf="registroForm.get('email')?.hasError('required')"
            [ngClass]="{error:registroForm.get('email')?.hasError('required') && registroForm.get('email')?.dirty}">
            El Campo es obligatorio
        </p>
        <p 
            *ngIf="registroForm.get('email')?.hasError('email')"
            [ngClass]="{error:registroForm.get('email')?.hasError('email') && registroForm.get('email')?.dirty}">
            Ingrese un email valido
        </p>
    </div>

    <div>
        <label>Contraseña</label>
        <input type="password" formControlName="password">
    </div>
    <div *ngIf="registroForm.get('password')?.errors && registroForm.get('password')?.dirty">
        <p 
            *ngIf="registroForm.get('password')?.hasError('required')"
            [ngClass]="{error:registroForm.get('password')?.hasError('required') && registroForm.get('password')?.dirty}">
            El Campo es obligatorio
        </p>
        <p 
            *ngIf="registroForm.get('password')?.hasError('minlength')"
            [ngClass]="{error:registroForm.get('password')?.hasError('minlength') 
                && registroForm.get('password')?.dirty
                && registroForm.get('password')?.hasError('minlength')}">
            Debe escribir al menos 6 caracteres
        </p>
        <p 
            *ngIf="registroForm.get('password')?.hasError('maxlength')"
            [ngClass]="{error:registroForm.get('password')?.hasError('maxlength') 
                && registroForm.get('password')?.dirty}">
            Debe escribir como máximo 10 caracteres
        </p>
    </div>

    <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>

</form>
